/* google font "Poppins" */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

::selection {
  background: #4f46e5;
  color: white;
}

a {
  transition: all 0.3s ease;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}

body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

/* active class for nav links */
.active_link {
  color: #4f46e5;
  font-weight: 600;
}
